body{
  background-color: #DDFFBC;
}
hr{
  border-style: none;
  border-color: #C2F784;
  border-width: 7px;
  border-top-style: dotted;
  width: 15%;
}
h1,h3{
  color: #62760C;
}

a:visited,a:link{
  text-decoration: none;
  color: green;
}
a:hover{
  text-decoration: underline;
  color: blue;
}
.circular{
  border-style: dotted;
  border-radius: 100%;
  border-color: #62760C;
}
.box{
  border-style: dashed;
  border-color: #62760C;
  border-width: 2px;
}

/* 72286123 -*/
